/* Mobile and Tablet */
@media (max-width: 1023px) {

    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0; 
        left: 0;
    }
    
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::after {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

    .app__content {
        padding-top: 8px;
    }

    .mobile-category {
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;

        --header-with-search-height: 68px;
    }

    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    
    :root {
        --header-height: 54px;

        --header-with-search-height: 54px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header__mobile-icon {
        display: block;
    }

    .header-with-search {
        justify-content: space-around;
    }

    .header__logo {
        width: unset;
    }

    .header__logo-img {
        margin-left: 26px;
        width: 110px;
    }

    .header__cart {
        width: unset;
    }

    .header__search-checkbox:checked ~ .header__search {
        display: flex;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        border: 1px solid #e5e5e5;
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.2s;
        display: none;
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .header__menu-checkbox:checked ~ .header__mobile-navbar-menu {
        display: block;
    }

    .header__mobile-navbar-menu {
        position: fixed;
        top: 54px;
        right: 0;
        left: -22px;
        background-color: var(--white-color);
        max-width: 280px;
        font-size: 1.4rem;
        z-index:  10;
        list-style: none;
        box-shadow: 0 1px 5px rgb(189, 189, 189);
        animation: mobileNavBatMenuSideIn linear 0.2s;
        
    }
    
    .header__mobile-navbar-menu-item {
        padding: 12px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .header__mobile-navbar-menu-link {
        color: var(--text-color);
        text-decoration: none;
    }

    .pagination-item__link {
        height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .pagination-item {
        margin: 0;
    }

    .app__content {
        margin: 0 4px;
    }

    .footer {
        padding: 8px 18px;
    }

    .footer__heading {
        text-align: center;
    }

    .footer__dowload,
    .footer-item__link {
        justify-content: center;
    }

    .footer__download-apps {
        justify-content: unset;
    }

    .footer__download-qr {
        height: 48px;
        width: 48px;
    }

    .home-product-item__sale-off-lable {
        font-size: 0.9rem;
        line-height: 0.9rem;
        top: -8px;
        font-weight: 900;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
    @keyframes mobileNavBatMenuSideIn {
        from {
            opacity: 0;
            left: -280px;
        }
        to {
            opacity: 1;
            top: -22px;
        }
    }
}